/* 폰트 */
/* 전체 느낌 */
@font-face {
    font-family: 'TTHakgyoansimMonggeulmonggeulR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMonggeulmonggeulR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 프로필 텍스트 */
@font-face {
    font-family: 'Ownglyph_Dailyokja-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/Ownglyph_Dailyokja-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 가독성 글 */
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* css */
body {
    font-family: 'TTHakgyoansimMonggeulmonggeulR';
    margin: auto;
    padding: 20px;
    max-width: 1228px;
    padding-top: 72px;
    background: linear-gradient(180deg, #adfbff 0%, #be00fd 100%);
}

/* navigation */
.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background: rgba(255, 255, 255, 0.825);
    padding: 12px;
    box-shadow: 2px 2px 10px 0px #d0cbdf57;
    z-index: 100;
}

.top-logo {
    /* width: 80px; */
    font-size: 1.5rem;
    font-weight: 700;
    color: transparent;
    background: linear-gradient(160deg, #0f98e7 0%, #be00fd 100%);
    -webkit-background-clip: text;
}

.nav-items {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    font-size:1.25rem;
}

.nav-items a {
    color: rgb(55, 36, 162);
    text-decoration-line: none;
}


/* header */
header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 4rem;
}

.intro {
    position: relative;
    font-size:2.75rem;
    line-height: 1.4; 
    font-family: 'Ownglyph_Dailyokja-Rg';
}

.intro h2 span {
    color: transparent;
    background: linear-gradient(160deg, #be00fd 0%, #003fc8 100%);
    -webkit-background-clip: text;
}

.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 100%;
    background: linear-gradient(160deg, #0fe7b8 0%, #be00fd 100%);
    padding: 8px;    
}

@media (max-width: 780px) {
    .top-logo {
        display: none;
    }

    .sns-links {
        display: none;
    }
    
    header {
        flex-direction: column-reverse;
        gap: 3vh;
    }
}

.profile img {
    max-width: 320px;
    width: 60vw;
    border-radius: 100%;
}


/* wrap */
.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px;
    line-height: 1.4;
}

.section-title h2 {
    font-size: 30px;
}

/* tech stack */
.tech-items {
    padding-top: 20px;
    max-width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.tech-item img{
    width: 100px;
}

/* projects */
.article-items {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

article a {
    color: none;
    text-decoration-line: none;
}

.card {
    font-family: 'omyu_pretty';
    width: 300px;
    height: 440px;
    line-height: 1.4;
    box-shadow: 2px 2px 50px 0px #9f98b657;
    border-radius: 20px;
    background: white;
}

.card:hover {
    transform: scale(1.01);
    transition-duration: 200ms;
}

.card-thumbnail {
    height: 40%;
    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-size:auto;
    background-repeat: no-repeat;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
}

.card-body .title {
    color: black;
    font-size: x-large;
    font-weight: 600;
}

.card-body .content {
    font-size: medium;
    color: #666666;
}

.card-body .tag {
    font-size: small;
    color: rgb(84, 84, 84);
}

.card-footer {
    display: flex;
    justify-content: end;
    gap: 4px;
    padding: 16px;
}

.card-footer div {
    color: black;
}

/* card image */
#card-1-img {
    background-image: url("./../images/toristory_title.png");
    background-position: 10% 20%;
}

/* contact */
.contact-items {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    margin-top: 20px;
    padding: 40px;
}

.contact-items p {
    color: rgb(245, 245, 245);
}